@using Microsoft.AspNet.Identity
@model Project2.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


<!--***************************************************** CSS *********************************************-->

<style>

    *, *:before, *:after {
        box-sizing: border-box;
    }

    html {
        overflow-y: scroll;
    }

    body {
        background: #c1bdba;
    }

    main {
        font-family: 'Titillium Web', sans-serif;
    }

    a {
        text-decoration: none;
        color: #1ab188;
        transition: .5s ease;
    }

        a:hover {
            color: #179b77;
        }

    .form {
        border-radius: 15px 50px;
        border: groove;
        background: rgba(21, 13, 44, 0.68);
        /*padding: 50px;*/
        /*padding-left:7%;*/
        /*width: 600px;*/
        max-width: 800px;
        min-width: 270px;
        margin: 40px auto;
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
        max-height: 800px;
        /*height: 800px;*/
        text-align: center;
    }

    
    h1 {
        text-align: center;
        color: #ffffff;
        font-weight: 500;
        font-size:xx-large;
        margin: 0 0 40px;
    }

    label {
        position: absolute;
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        left: 13px;
        color: rgba(255, 255, 255, 0.5);
        transition: all 0.25s ease;
        -webkit-backface-visibility: hidden;
        pointer-events: none;
        font-size: 22px;
    }

        label .req {
            margin: 2px;
            color: #1ab188;
        }

        label.active {
            -webkit-transform: translateY(50px);
            transform: translateY(50px);
            left: 2px;
            font-size: 14px;
        }

            label.active .req {
                opacity: 0;
            }

        label.highlight {
            color: #ffffff;
        }

    input, textarea {
        border: double;
        font-size: 22px;
        display: block;
        width: 100%;
        height: 130%;
        padding: 5px 10px;
        background: none;
        background-image: none;
        border: 1px solid #a0b3b0;
        color: #ffffff;
        border-radius: 0;
        transition: border-color .25s ease, box-shadow .25s ease;
    }

        input:focus, textarea:focus {
            outline: 0;
            border-color: #1ab188;
        }

    textarea {
        border: 2px solid #a0b3b0;
        resize: vertical;
    }

    .field-wrap {
        position: relative;
        margin-bottom: 40px;
    }

    .top-row:after {
        content: "";
        display: table;
        clear: both;
    }

    .top-row > div {
        float: left;
        width: 48%;
        margin-right: 4%;
    }

        .top-row > div:last-child {
            margin: 0;
        }


    #buttonchange:hover, #buttonchange:focus {
        background: #179b77;
    }

    /********************* Arrows ***********************/
    #password-triangle-left {
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-right: 100px solid #4d5390;
        border-bottom: 50px solid transparent;
        float: left;
    }

    #password-triangle-left:hover {
        border-top: 50px solid transparent;
        border-right: 100px solid #929bfb;
        border-bottom: 50px solid transparent;
    }

    .password-manage-arrows {
        padding-top: 14rem;
    }

    #to-manage-settings-from-password {
        opacity: 0;
    }
 
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 password-manage-arrows">
            <div id="to-manage-settings-from-password" class="col-sm-12">To Manage</div>
            <div id="password-triangle-left" onclick="location.href= '@Url.Action("ManageSettings","Manage", new { id = User.Identity.GetUserId()})'"></div>
        </div>
        <div class="col-sm-6">
            <div class="form">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h1>Change Password Form</h1>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-12 control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", style="margin:auto;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-12 control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", style = "margin:auto;" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", style = "margin:auto;" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Change password" class="btn btn-default" id="buttonchange" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>

<script>
    $('#password-triangle-left').hover(function () {
        $('#to-manage-settings-from-password').css('opacity', 1);
    })
    $('#password-triangle-left').mouseout(function () {
        $('#to-manage-settings-from-password').css('opacity', 0);
    })
</script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
