@using Microsoft.AspNet.Identity
@model Project2.Models.IndexViewModel

@{
    ViewBag.Title = "Manage";
}
@Styles.Render("~/Content/Manage.css")



@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">*@

<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>


<style>

    .bird-container {
        z-index: 0;
    }
    main {
        padding: 0;
    }

   
</style>

    <div class="page">
        <div class="menu_toggle">
            <i class="menu_open fa fa-bars fa-lg"></i>
            <i class="menu_close fa fa-times fa-lg"></i>
        </div>
        <ul class="menu_items">
            <li>
                <a href="#">
                    <i class="icon fa fa-user fa-2x" style="font-size:xx-large"></i>

                    @Html.ActionLink("Change Avatar", "Avatar")

</a></li>
            <li><a href="#">
    <i class="icon fa fa-wrench fa-2x"  style="font-size:xx-large"></i>   
       
        @Html.ActionLink("Manage", "ManageSettings", new { id = User.Identity.GetUserId() }) 
    
</a></li>
            <li>
                <a href="#">
                    <i class="icon fa fa-key fa-2x" style="font-size:xx-large" onclick=location.href="@Url.Action("ChangePassword","Manage")"></i>

                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }


                </a>
            </li>
        </ul>
        <main class="content">
            <div class="content_inner">
                <h1>Looking for the settings?</h1>
                <p>We wouldn't make a plain menu.Let's try to change the way you see this page</p>


            </div>
        </main>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


    <script>

        var $page = $('.page');

        $('.menu_toggle').on('click', function () {
            $page.toggleClass('shazam');
        });
        $('.content').on('click', function () {
            $page.removeClass('shazam');
        });
    </script>